//PRESENTACION
.presentacion {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 20px;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: $color-texto;
  }

  p {
    font-size: 1.2rem;
    max-width: 600px;
    color: $color-texto;
  }
}